<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utp.spacewatchers" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IniciarActivity"
            android:label="@string/title_activity_iniciar" >
        </activity>
        <activity
            android:name=".RegistrarActivity"
            android:label="@string/title_activity_registrar" >
        </activity>
        <activity
            android:name=".GaleriaActivity"
            android:label="@string/title_activity_galeria" >
        </activity>
        <activity
            android:name=".TagearActivity"
            android:label="@string/title_activity_tagear" >
        </activity>
    </application>

</manifest>
